@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';



@theme{
  --color-btn-bg : #6A0DAD;
  --color-auth-bg : #EDEDED;
  --color-auth-form-border : #D4D4D4;
  --color-deep-gray : #1F2937 ;
  --color-ash-color : #4B4B4B;
  --color-light-blue : #1E90FF;
  ---color-deep-blue : #0B5FFF
  
}


body {
  background: var(--color-auth-bg);
  color: black;

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #EDEDED inset !important;
  box-shadow: 0 0 0px 1000px #EDEDED inset !important;
  background-color: transparent !important;
  color: inherit !important;
}




.react-datepicker-wrapper {
  display: flex !important;
}

/* Remove focus outline from full chart wrapper */
.recharts-pie-sector:focus,
.recharts-sector:focus {
  outline: none !important;
  stroke: none !important;
}
.recharts-wrapper:focus,
.recharts-responsive-container:focus,
.recharts-surface:focus {
  outline: none !important;
  border: none !important;
}

